stages:
  - stage01
  - stage02
  - stage03
  - stage04

lint_grogu:
  stage: stage01
  tags: [mci-next]
  image: docker.mci.dev/golangci/golangci-lint:v2.4.0-alpine
  rules:
    - if: $CI_COMMIT_BRANCH && $CI_COMMIT_MESSAGE =~ /\/grogu/
      changes:
        compare_to: "refs/heads/main"
        paths:
          - golang/grogu/**/*
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        paths:
          - golang/grogu/**/*
  variables:
    GOPROXY: https://repo.mci.dev/artifactory/api/go/go
  before_script:
    - cd golang/grogu
  script:
    - golangci-lint run
  allow_failure: false

build_grogu_dev:
  stage: stage02
  tags: [mci-next]
  image: docker.mci.dev/docker:latest
  rules:
    - if: $CI_COMMIT_BRANCH && $CI_COMMIT_MESSAGE =~ /\/grogu/
      changes:
        compare_to: "refs/heads/main"
        paths:
          - golang/grogu/**/*
  before_script:
    - git prune
    - cd golang/grogu
  script:
    - export IMAGE="docker.mci.dev/mci/coa/grogu"
    - buildctl --addr $BUILD_HOST build
      --frontend dockerfile.v0
      --local context=.
      --local dockerfile=.
      --opt filename=./Dockerfile
      --output "type=image,name=$IMAGE:$CI_COMMIT_SHORT_SHA,push=true"
      --export-cache type=registry,"ref=$IMAGE:$CI_COMMIT_BRANCH"
      --import-cache type=registry,"ref=$IMAGE:$CI_COMMIT_BRANCH"

build_grogu_prod:
  stage: stage02
  tags: [mci-next]
  image: docker.mci.dev/docker:latest
  rules:
    - if: $CI_COMMIT_BRANCH == "main" && $CI_COMMIT_MESSAGE =~ /v\d+\.\d+\.\d+(\.hotfix\d{0,3}){0,1}/
      changes:
        paths:
          - golang/grogu/**/*
  before_script:
    - cd golang/grogu
  script:
    - export IMAGE_TAG=`echo -n $CI_COMMIT_MESSAGE | grep -o 'v[0-9]\+\.[0-9]\+\.[0-9]\+\(\.hotfix[0-9]\{0,3\}\)\{0,1\}'`
    - export IMAGE="docker.mci.dev/mci/coa/grogu"
    - buildctl --addr $BUILD_HOST build
      --frontend dockerfile.v0
      --local context=.
      --local dockerfile=.
      --opt filename=./Dockerfile
      --output "type=image,name=$IMAGE:$IMAGE_TAG,push=true"
      --export-cache type=registry,"ref=$IMAGE:$CI_COMMIT_BRANCH"
      --import-cache type=registry,"ref=$IMAGE:$CI_COMMIT_BRANCH"

deploy_grogu_dev:
  stage: stage03
  rules:
    - if: $CI_COMMIT_BRANCH && $CI_COMMIT_MESSAGE =~ /\/grogu/
      changes:
        compare_to: "refs/heads/main"
        paths:
          - golang/grogu/**/*
  trigger:
    branch: main
    project: mse/coa/coa-ops
    strategy: depend
  variables:
    APP_NAME: coa-api
    CHART_YAML_PATH: values.yaml
    CHART_YAML_KEY: grogu
    ENV: dev
    IMAGE_TAG: $CI_COMMIT_SHORT_SHA

deploy_grogu_iva_dev:
  stage: stage04
  rules:
    - if: $CI_COMMIT_BRANCH && $CI_COMMIT_MESSAGE =~ /\/grogu/
      changes:
        compare_to: "refs/heads/main"
        paths:
          - golang/grogu/**/*
  trigger:
    branch: main
    project: mse/coa/coa-ops
    strategy: depend
  variables:
    APP_NAME: coa-api
    CHART_YAML_PATH: values.yaml
    CHART_YAML_KEY: grogu-iva
    ENV: dev
    IMAGE_TAG: $CI_COMMIT_SHORT_SHA
